<div class="container">

  <div class="columns">
    <div class="column">
      <p>{{this.pokemons.length}} en base de données</p>
      <p>Dans l'ordre du Pokédex :</p>
      <p *ngIf="selectedPokemon;else na">
        Le Pokémon sélectionné est : {{selectedPokemon.name}}
      </p>
    </div>
  </div>

  <ng-template #na>Aucune sélection de pokémon</ng-template>

  <div class="row">
    <form class="mt-5" #f="ngForm">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="searchedPokemon"
               name="searchedPokemon" placeholder="Nom du pokémon">
        <button class="btn btn-primary" type="submit" (click)="onSearch()">
          <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
          Rechercher
        </button>
        <button type="reset" class="btn btn-outline-dark">Annuler</button>
        <button class="btn btn-outline-dark" (click)="changeSort()">
          <fa-icon [icon]="faSort"></fa-icon>
        </button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-4 mt-3" *ngFor="let pok of pokemons | sortByPokedex:sortValue">
      <app-pokemon
        [pokemon]="pok"
        (onPokemonSelected)="onPokemonSelected($event)"
      ></app-pokemon>
    </div>
  </div>
</div>
