<div class="container">

  <div class="columns">
    <div class="column">
      <p>Dans l'ordre du Pokédex :</p>
      <p *ngIf="selectedPokemon;else na">
        Le Pokémon sélectionné est : {{selectedPokemon.name}}
      </p>
    </div>
  </div>

  <ng-template #na>Aucune sélection de pokémon</ng-template>

  <div class="row">

    <div class="col-md-4 mt-3" *ngFor="let pok of pokemons | sortByPokedex:'DESC'">
      <app-pokemon
        [pokemon]="pok"
        (onPokemonSelected)="onPokemonSelected($event)"
      ></app-pokemon>
    </div>
  </div>
</div>
